@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg: #000;
  --primary: #E11D48;
}

html,body,#__next{height:100%}
body{
  background: var(--bg);
  color: #e5e7eb;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  padding-top: 72px; /* space for nav */
}
.text-muted{ color: #9ca3af; }
